@model Tuple<IEnumerable<RR.Dto.PointTableDto>, int>
@{
    ViewData["Title"] = "Point Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">
                        Point Table List
                        <a href="javascript:void(0)" onclick="return AddEditPointData(0)" class="btn pull-right"> Add Point Data</a>
                    </h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="response">
                        </div>

                        <table class="table table-striped table-bordered" width="100%" id="pointsDataTable">
                            <thead class=" text-primary">
                                <tr>
                                    <th style="font-size: 13px;">Point For</th>
                                    <th style="font-size: 13px;">Key</th>
                                    <th style="font-size: 13px;">Value</th>
                                    <th style="font-size: 13px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Item1.Count() > 0)
                                {
                                    foreach (var item in Model.Item1)
                                    {
                                        <tr>
                                            <td style="font-size: 13px;">@item.PointForValue</td>
                                            <td style="font-size: 13px;">@item.Key</td>
                                            <td style="font-size: 13px;">@item.Value</td>
                                            <td style="font-size: 13px;">
                                            <a href="javascript:void(0)" onclick="return AddEditPointData(@item.Id)" style="padding:5px;" title="Edit Point Data" class="showpointer" data-original-title="Edit Point Data"><i class="material-icons">edit</i><div class="ripple-container"></div></a>
                                            <a href="javascript:void(0)" class="showpointer" style="padding:5px;" onclick="return DeleteRecord(@item.Id)" tooltip="Delete" data-original-title="Delete Point Data"><i class="material-icons">delete_forever</i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4">Records not available</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            $("#pointsDataTable").DataTable()
        });

        function AddEditPointData(value) {
            var url = "/addeditpoint/" + value;
            $.ajax({
                url: url,
                error: function (resp, text) {

                },
                success: function (resp) {
                    $("#pointDataModal").html('');
                    $("#pointDataModal").html(resp);
                    $("#pointDataModal").modal('toggle');
                    $.validator.unobtrusive.parse("#formContest");
                }
            });
        }

        function onBegin() {
            $("#preloader").addClass('loaderActive');
        }
        function onComplete() {
            $("#preloader").removeClass('loaderActive');
        }
        function onFailed() {
            $("#preloader").removeClass('loaderActive');
        }
        function onDataSuccess(response) {
            $("#contestModal").modal('toggle');
            if (response.indexOf("alert-success") > -1) {
                if (response.indexOf("added") > -1) {
                    setTimeout(function () { window.location.reload() }, 3500);
                    swal("Success! Point data added successfully!", {
                        icon: "success",
                    });
                }
                else {
                    setTimeout(function () { window.location.reload() }, 3500);
                    swal("Success! Point data updated successfully!", {
                        icon: "success",
                    });
                }
            }
            else {
                swal("Oops! Something went wrong, Please try again.", {
                    icon: "warning",
                });
            }
        }

        function DeleteRecord(id) {
            var url = "/deletepoint/" + id;
            swal({
                title: "Are you sure?",
                text: "You Want Delete Of This Record?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: "POST",
                            url: url,
                            success: function (result) {
                                if (result != null) {


                                    if (result.indexOf('alert-danger') > -1) {
                                        if (result.includes("Access Denied")) {
                                            swal("You Do Not Have Permission To Delete!", {

                                                icon: "warning",
                                            });
                                        } else {
                                            swal("Not Deleted,Something Went Wrong!", {

                                                icon: "warning",
                                            });
                                        }
                                    }
                                    else {
                                        swal("Success! Record deleted successfully!", {
                                            icon: "success",
                                        });
                                        setTimeout(function () { window.location.reload() }, 3500);
                                    }
                                }
                            },
                            error: function () {
                                alert("error");
                            }
                        });
                    }
                });
        }
    </script>
}
<div class="modal fade" id="pointDataModal" role="dialog">

</div>