@model RR.Dto.RiderDto
@{
    ViewData["Title"] = "Rider Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string adminPath = ViewBag.picpath;
}

@section Styles{
    <link href="~/css/newdesign.css" rel="stylesheet" />
}
<div class="rank-header">
    <div class="rank-header-back">
        <img src="/images/home/rank-header-bg.jpg">
    </div>
    <span class="rank-header-title">Riders</span>
</div>
<section class="section section-variant-1 custom-bg-gray-100 custom-float-width contest_pg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <b class="btn rank-btn-back" onclick="history.back();"><i class="fa fa-chevron-left" aria-hidden="true"></i></b><span class="rank-back-span">Riders</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img class="rank-detail-img" src="@adminPath/@Model.Avatar" onError="this.onerror=null;this.src='/images/home/Rider-logo.png'" />
            </div>
            <div class="col-lg-6">
                <div class='card rank-detail-card'>
                    <div class="row">
                        <div class="col-10">
                            <span class="rank-detail-title">@Model.Name</span>
                        </div>
                        <div class="col-2">
                            @if (!@Model.IsAddedFavorite)
                            {
                                <span class="rank-bookmark"><i class="fa fa-bookmark-o" title="Add as favorite rider" onclick="addFavorite(@Model.RiderId)"></i></span>
                            }
                            else
                            {
                                <span class="rank-bookmark"><i class="fa fa-bookmark" title="Already added as favorite"></i></span>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5" style="display: flex;">
                            <span class="rank-detail-order"># @Model.CWRP</span>
                            <div style="padding-top:19px; padding-left:8px;">
                                <div class="rank-detail-val">World</div>
                                <div class="rank-detail-val">Rank</div>
                            </div>

                        </div>
                        <div class="col-7" style="display: flex;">
                            <span class="rank-detail-order">@Model.RiderPower</span>
                            <div style="padding-top:19px; padding-left:8px;">
                                <div class="rank-detail-val">Rider</div>
                                <div class="rank-detail-val">Power</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <span class="rank-detail-info">Attempts</span>
                        </div>
                        <div class="col-4">
                            <span class="rank-detail-val float-right">@Model.Mounted</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <span class="rank-detail-info">Qual.Rides</span>
                        </div>
                        <div class="col-4">
                            <span class="rank-detail-val float-right">@Model.Rode</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <span class="rank-detail-info">Riding % (Career)</span>
                        </div>
                        <div class="col-4">
                            <span class="rank-detail-val float-right">@Model.RidePerc%</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <span class="rank-detail-info">Riding % (12 Months)</span>
                        </div>
                        <div class="col-4">
                            <span class="rank-detail-val float-right">@Model.RidePrecCurent%</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <span class="rank-detail-info">Riding Hand</span>
                        </div>
                        <div class="col-4">
                            <span class="rank-detail-val float-right">@Model.Hand</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <span class="rank-detail-info">Points</span>
                        </div>
                        <div class="col-4">
                            <span class="rank-detail-val float-right">@Model.RRTotalpoint</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="custom-bg-gray-100 custom-float-width">

        </div>
    </div>
</section>

<partial name="../Shared/_Sponsors.cshtml" />
@await Component.InvokeAsync("SubscibeNewsLetterComponent")

@section scripts{
    <script>
        $(function () {
            addFavorite = function(id) {
                if (typeof id != "undefined" && parseInt(id) > 0) {
                    $.post("@Url.Action("AddFavorite", "Riders")", { riderId: id }, function (result) {
                        if (result.status) {

                            swal(result.message, {
                                icon: "success",
                                className: "notify-alert",
                                button: false,
                                timer: 3000,
                            });
                            table.ajax.reload(false);
                        }
                        else {
                            swal(result.message, {
                                icon: "warning",
                                className: "notify-alert",
                                button: false,
                                timer: 5000,
                            });
                        }
                    })
                }
            }

        });


    </script>
}