@model RR.Dto.ResetPasswordDto
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!-- Section Login/register-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Reset Password</h4>
                </div>
                <div id="response">
                </div>
                <div class="card-body">
                    <form id="rpForm" asp-action="ResetPassword" asp-controller="Account" method="POST" data-ajax="true" data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                          data-ajax-failure="onFailed" data-ajax-success="onResetSuccess" data-ajax-update="response">
                        <div id="response">
                        </div>
                        @Html.HiddenFor(x => x.Code)
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", autocomplete = "off", placeholder = "Email", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(x => x.Email)
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", autocomplete = "off", placeholder = "Password" })
                                    @Html.ValidationMessageFor(x => x.Password)
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", autocomplete = "off", placeholder = "Confirm Password" })
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                      
                        <button type="submit" class="btn btn-primary pull-right">Submit</button>


                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    function onBegin() {
        $("#preloader").addClass('loaderActive');
    }

    function onResetSuccess(response) {
        $("#response").html(response);
        if (response.indexOf("alert-success") > -1) {
            $("#rpForm").trigger("reset");
        }
        $("#preloader").removeClass('loaderActive');
        setTimeout(function () {
            $("#response").html('');
            if (response.indexOf("alert-success") > -1) {
                window.location.href = "/login";
            }

        }, 5000);
    }

    function onComplete() {
        $("#preloader").removeClass('loaderActive');
    }
</script>