@model IEnumerable<RR.Dto.TeamLiteDto>
@{
    ViewData["Title"] = "Teams Of User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section parallax-container breadcrumbs-wrap" data-parallax-img="/images/bg-breadcrumbs-1-1920x726.jpg">
    <div class="parallax-content breadcrumbs-custom context-dark">
        <div class="container">
            <h3 class="breadcrumbs-custom-title">Teams List</h3>
        </div>
    </div>
</section>

<section class="section section-variant-1 bg-gray-100 custom-float-width">
    <div class="container">
        <div class="col-lg-12 custom-bg-gray-100 custom-float-width pad30">
            <div class="table-custom-responsive">
                <a href="@Url.Action("TeamFormation","Team",new { eventId=@ViewBag.EventId})" style=" padding: 10px 20px;background-color: #575a5f;border: none;
                margin: 0;border-radius: 5px;color: #fff;font-size: 14px;float: right;">Create Team</a>
                <table class="table-custom table-standings table-classic table-dark" id="userDataTable">
                    <thead class="card-standing-caption">
                        <tr>
                            <th>TeamId <i class="fa fa-sort"></i></th>
                            <th>Event Name <i class="fa fa-sort"></i></th>
                            <th>User Email <i class="fa fa-sort"></i></th>
                            <th>ContestType <i class="fa fa-sort"></i></th>
                            <th>Join</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>

@section Scripts{
    <script src="~/js/bootbox.min.js"></script>
    <script>
        $(function () {
            if (@ViewBag.Result) {
                bootbox.alert("This Team is successfully joined with this contest!!");
            }
            $('.dataTables_filter input').attr('placeholder', 'Search...').hide();
            var table = $("#userDataTable").DataTable({
                "paging": true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once

                //"dom": '<"top"i>rt<"bottom"lp><"clear">',
                "ajax": {
                    "url": '/Team/TeamList',
                    "data": { eventId: @ViewBag.EventId, contestId: @ViewBag.ContestId },
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "id", "name": "id", "autoWidth": false },
                    { "data": "eventName", "name": "eventName", "autoWidth": false },
                    { "data": "userEmail", "name": "userEmail", "autoWidth": false },

                    { "data": "contestType", "name": "contestType", "autoWidth": false },
                    {
                        "data": "teamId", "name": "teamId", "render": function (value) {
                            if (value) {
                                return '<a href="/team/joincontest/' + value + '/' + @ViewBag.ContestId + '/' +@ViewBag.EventId+'" data-token=' + value + ' rel="tooltip" title="" class="btn btn-primary btn-link btn-sm">Join Team</a>'
                            }
                            else {
                                return '<button class="btn btn-warning">No Tean is There</button>'
                            }
                            }, "autoWidth": true
                    }
                ],
                dom: "Bfrtip",
                "pageLength":10,
                "columnDefs": [{
                    "targets": [3], // column index (start from 0)
                    "orderable": false, // set orderable false for selected columns
                }]
            });

            $('.search-input').on('keyup change', function () {
                var index = $(this).attr('data-column'),
                    val = $(this).val();
                table.columns(index).search(val.trim()).draw();
            });


        });
    </script>
}
