@model RR.Dto.ContestAwardDto
@{
    ViewData["Title"] = "Add/Edit Contest Winners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">
                        Member Contest Winners List
                        <a title="Add Row" id="addButton" href="javascript:void(0)" class="btn pull-right"><i class="fa fa-plus"></i></a>
                        @Html.ActionLink("Back To Contest List", "index", "ContestManagement", new { }, new { @class = "btn pull-right" })
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="response">
                        </div>
                        <form id="formContest" asp-action="AddEditWinner" asp-controller="ContestWinnerManagement" method="POST" data-ajax="true" novalidate="novalidate" data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                              data-ajax-failure="onFailed" data-ajax-success="onWinnerSuccess" data-ajax-update="response">

                            @Html.HiddenFor(x => x.ContestId)
                            @Html.HiddenFor(x => x.WinnerCount)
                            <table class="table table-striped table-bordered" width="100%" id="contestWinnerDT">
                                <thead class=" text-primary">
                                    <tr>
                                        <th style="font-size: 13px;"><label class="control-label">Rank From <span style="color:red">*</span></label></th>
                                        <th style="font-size: 13px;"><label class="control-label">Rank To <span style="color:red">*</span></label></th>
                                        <th style="font-size: 13px;"><label class="control-label">Price Percentage<span style="color:red">*</span></label></th>
                                        <th style="font-size: 13px;"><label class="control-label">Token Percentage<span style="color:red">*</span></label></th>
                                        <th style="font-size: 13px;"><label class="control-label">Merchandise Award<span style="color:red">*</span></label></th>
                                        <th style="font-size: 13px;"><label class="control-label">Other Award <span style="color:red">*</span></label></th>
                                        <th style="font-size: 13px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="trclone" style="display:none">
                                        <td>
                                            <input type="text" name="RankFrom" id="RankFrom" autocomplete="off" placeholder="Rank From" class="form-control" onkeypress="return isNumber(event)" />
                                        </td>
                                        <td>
                                            <input type="text" name="RankTo" id="RankTo" autocomplete="off" placeholder="Rank To" class="form-control" onkeypress="return isNumber(event)" />
                                        </td>
                                        <td>
                                            <input type="text" name="PricePercentage" id="PricePercentage" autocomplete="off" placeholder="Price Percentage" class="form-control" onkeypress="return isNumber(event)" />
                                        </td>
                                        <td>
                                            <input type="text" name="TokenPercentage" id="TokenPercentage" autocomplete="off" placeholder="Token Percentage" class="form-control" onkeypress="return isNumber(event)" />
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.Merchandise, Model.MerchandiseList, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.OtherReward, Model.OtherRewardList, new { @class = "form-control" })
                                        </td>

                                        <td>
                                            <input type="hidden" name="IsPaidMember" id="IsPaidMember" value="true" />
                                            <a onclick="return delThisRow(this)" href="javascript:void(0)"><i class="fa fa-minus"></i></a>
                                        </td>
                                    </tr>

                                    @if (Model.Winners.Count() > 0)
                                    {
                                        foreach (var item in Model.Winners.Where(d => d.IsPaidMember != false).OrderBy(x => x.RankFrom))
                                        {
                                            <tr class="trnewrow">
                                                <td>
                                                    <input type="text" name="RankFrom" id="RankFrom" autocomplete="off" placeholder="Rank From" class="form-control validate" onkeypress="return isNumber(event)" value="@item.RankFrom" />
                                                </td>
                                                <td>
                                                    <input type="text" name="RankTo" id="RankTo" autocomplete="off" placeholder="Rank To" class="form-control validate" onkeypress="return isNumber(event)" value="@item.RankTo" />
                                                </td>
                                                <td>
                                                    <input type="text" name="PricePercentage" id="PricePercentage" autocomplete="off" placeholder="Price Percentage" class="form-control validate" onkeypress="return isNumber(event)" value="@item.PricePercentage" />
                                                </td>
                                                <td>
                                                    <input type="text" name="TokenPercentage" id="TokenPercentage" autocomplete="off" placeholder="Token Percentage" class="form-control validate" onkeypress="return isNumber(event)" value="@item.TokenPercentage" />
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(x => x.Merchandise, item.MerchandiseList, new { @class = "form-control validate" })
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(x => x.OtherReward, item.OtherRewardList, new { @class = "form-control validate" })
                                                </td>
                                                <td>
                                                    <input type="hidden" name="IsPaidMember" id="IsPaidMember" value="true" />
                                                    <a onclick="return DeleteWinner(@item.Id)" href="javascript:void(0)"><i class="fa fa-minus"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <input type="submit" value="Save" class="btn btn-primary" onclick="return fncvalidate();" />
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">
                        Non-Member Contest Winners List
                        <a title="Add Row" id="addButton2" href="javascript:void(0)" class="btn pull-right"><i class="fa fa-plus"></i></a>
                        @Html.ActionLink("Back To Contest List", "index", "ContestManagement", new { }, new { @class = "btn pull-right" })
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="response">
                        </div>
                        <form id="formContestNonPaid" asp-action="AddEditWinner" asp-controller="ContestWinnerManagement" method="POST" data-ajax="true" novalidate="novalidate" data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                              data-ajax-failure="onFailed" data-ajax-success="onWinnerSuccess" data-ajax-update="response">

                            @Html.HiddenFor(x => x.ContestId)
                            @Html.HiddenFor(x => x.WinnerCount)
                            <table class="table table-striped table-bordered" width="100%" id="contestWinnerDT">
                                <thead class=" text-primary">
                                    <tr>
                                        <th style="font-size: 13px;"><label class="control-label">Rank From <span style="color:red">*</span></label></th>
                                        <th style="font-size: 13px;"><label class="control-label">Rank To <span style="color:red">*</span></label></th>
                                        <th style="font-size: 13px;"><label class="control-label">Price Percentage<span style="color:red">*</span></label></th>
                                        <th style="font-size: 13px;"><label class="control-label">Token Percentage<span style="color:red">*</span></label></th>
                                        <th style="font-size: 13px;"><label class="control-label">Merchandise Award<span style="color:red">*</span></label></th>
                                        <th style="font-size: 13px;"><label class="control-label">Other Award <span style="color:red">*</span></label></th>
                                        <th style="font-size: 13px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="trclone" style="display:none">

                                        <td>
                                            <input type="text" name="RankFrom" id="RankFrom" autocomplete="off" placeholder="Rank From" class="form-control" onkeypress="return isNumber(event)" />
                                        </td>
                                        <td>
                                            <input type="text" name="RankTo" id="RankTo" autocomplete="off" placeholder="Rank To" class="form-control" onkeypress="return isNumber(event)" />
                                        </td>
                                        <td>
                                            <input type="text" name="PricePercentage" id="PricePercentage" autocomplete="off" placeholder="Price Percentage" class="form-control" onkeypress="return isNumber(event)" />
                                        </td>
                                        <td>
                                            <input type="text" name="TokenPercentage" id="TokenPercentage" autocomplete="off" placeholder="Token Percentage" class="form-control" onkeypress="return isNumber(event)" />
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.Merchandise, Model.MerchandiseList, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.OtherReward, Model.OtherRewardList, new { @class = "form-control" })
                                        </td>

                                        <td>
                                            <a onclick="return delThisRow(this)" href="javascript:void(0)"><i class="fa fa-minus"></i></a>
                                            <input type="hidden" name="IsPaidMember" id="IsPaidMember" value="false" />
                                        </td>
                                    </tr>

                                    @if (Model.Winners.Count() > 0)
                                    {
                                        foreach (var item in Model.Winners.Where(d => d.IsPaidMember == false).OrderBy(x => x.RankFrom))
                                        {
                                            <tr class="trnewrow">
                                                <td>
                                                    <input type="text" name="RankFrom" id="RankFrom" autocomplete="off" placeholder="Rank From" class="form-control validate" onkeypress="return isNumber(event)" value="@item.RankFrom" />
                                                </td>
                                                <td>
                                                    <input type="text" name="RankTo" id="RankTo" autocomplete="off" placeholder="Rank To" class="form-control validate" onkeypress="return isNumber(event)" value="@item.RankTo" />
                                                </td>
                                                <td>
                                                    <input type="text" name="PricePercentage" id="PricePercentage" autocomplete="off" placeholder="Price Percentage" class="form-control validate" onkeypress="return isNumber(event)" value="@item.PricePercentage" />
                                                </td>
                                                <td>
                                                    <input type="text" name="TokenPercentage" id="TokenPercentage" autocomplete="off" placeholder="Token Percentage" class="form-control validate" onkeypress="return isNumber(event)" value="@item.TokenPercentage" />
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(x => x.Merchandise, item.MerchandiseList, new { @class = "form-control validate" })
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(x => x.OtherReward, item.OtherRewardList, new { @class = "form-control validate" })
                                                </td>

                                                <td>
                                                    <input type="hidden" name="IsPaidMember" id="IsPaidMember" value="false" />
                                                    <a onclick="return DeleteWinner(@item.Id)" href="javascript:void(0)"><i class="fa fa-minus"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <input type="submit" value="Save" class="btn btn-primary" onclick="return fncvalidate();" />
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>

